<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrapper-posts">
            <%- include('./partials/menu.ejs') %>
                <div class="posts">
                    <article>
                        <div class="info">
                            <span class="date">01.01.2000</span>
                            <span class="author">J.</span>
                        </div>
                        <h2 class="post-title">Название поста</h2>
                        <p class="post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, earum
                            inventore! Libero
                            atque perferendis deleniti, ullam fuga cupiditate sed, porro laborum tempore reiciendis
                            officia
                            facere distinctio repudiandae ratione laboriosam optio? Lorem ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Fugit, sed ex? Impedit, obcaecati voluptatem eligendi laboriosam provident
                            cumque ipsa officia blanditiis recusandae fugiat ex iusto numquam repellat aliquam non
                            aperiam
                            quisquam! Autem, quibusdam? Libero similique fugit, quos reprehenderit dignissimos iste
                            laboriosam vitae quo dolor eius velit quaerat dicta veniam odio. Accusamus inventore velit,
                            suscipit est laboriosam reiciendis pariatur similique molestiae rerum itaque magni enim esse
                            praesentium, ab laudantium voluptates ad voluptate. Nesciunt natus labore error cupiditate,
                            quas
                            quis sequi eligendi voluptates saepe adipisci illum odio commodi. Autem natus dignissimos
                            sit
                            quasi accusamus. Tempora, soluta totam eligendi minima sapiente ipsa laboriosam! </p>
                        <ul class="reactions">
                            <li class="likes">
                                <span>0</span>
                                <i class="fa-solid fa-thumbs-up"></i>
                            </li>
                            <li class="dislikes">
                                <span>0</span>
                                <i class="fa-solid fa-thumbs-down"></i>
                            </li>
                            <li class="comments">
                                <span>0</span>
                                <i class="fa-solid fa-comment"></i>
                            </li>
                        </ul>
                    </article>
                </div>

        </div>
        <script src="https://kit.fontawesome.com/1d10fc3313.js" crossorigin="anonymous"></script>
    </body>

</html>